.h1 {
  text-align: center;
  margin-top: -30px;
  padding: 10px;
}

.product {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  width: 800px;
  align-items: center;
  margin-left: 270px;
  font-size: 24px;
}
.totalAmt {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

.remove {
  padding: 8px;
  border-radius: 8px;
  font-family: Raleway, Arial;
  border: 2px solid #6d4833;
  font-size: 18px;
  text-align: center;
}

.checkout {
  border-radius: 8px;
  border: 2px solid #6d4833;
  justify-content: center;
  padding: 15px;
  font-family: Raleway, Arial;
  margin-right: 580px;
  margin-left: 580px;
  margin-top: 40px;
  width: 200px;
  font-size: 18px;
}
