.h1 {
  text-align: center;
  margin-top: -30px;
  padding: 10px;
}

.imagedesc {
  display: flex;
}

.img {
  width: 300px;
  height: 300px;
  margin-left: 300px;
  padding: 20px;
}

.desc {
  width: 400px;
  padding: 20px;
}

.price {
  margin-left: 100px;
  padding: 10px;
}

.tabs {
  display: flex;
  color: tomato;
}

.buttons {
  border-radius: 8px;
  padding: 8px;
  margin-left: 58px;
  margin-top: 30px;
  border-color: #6d4833;
}
