.body {
  justify-content: center;
  align-items: center;
}

.header {
  nav {
    font-size: 24px;
    font-family: raleway, sans-serif;

    .navbar {
      color: #6d4833;
      text-decoration: none;
    }

    .navbar:hover {
      text-decoration: underline;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin-right: 210px;
      margin-left: 50px;
      color: #6d4833;
      padding-bottom: 0px;
    }
    ul li:first-child {
      margin-right: 150px;
    }
  }
}

.h1div {
  text-align: center;
  background-image: '/pastries.jpg';
}
.image {
  margin-top: -90px;
}
// .imagediv {
//   //margin-top: -200px;
//   //z-index: -1;
// }
.footer {
  margin-bottom: 40px;
  text-align: center;
}
