.body {
  justify-content: center;
  align-items: center;
}

.header {
  nav {
    font-size: 24px;
    font-family: Raleway, sans-serif;

    .navbar {
      color: #6d4833;
      text-decoration: none;
    }

    .navbar:hover {
      text-decoration: underline;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin-right: 210px;
      margin-left: 50px;
      color: #6d4833;
      padding-bottom: 0px;
    }
    ul li:first-child {
      margin-right: 150px;
    }
  }
}

.products {
  visibility: hidden;
}
.h1div {
  text-align: center;
  background-image: '/pastries.jpg';
}
.image {
  margin-top: -130px;
}
.cartContainer {
  position: relative;
}
.cart {
  height: 60px;
  width: 55px;
  position: absolute;
  right: 80px;
  bottom: 175px;
}

.footer {
  margin-bottom: 40px;
  text-align: center;
  padding: 70px;
}

.cartCount {
  margin-left: 1214px;
  bottom: 231px;
  top: 5px;
  position: absolute;
  margin-top: 13px;
  font-weight: bold;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 330px;
  background-color: white;
  color: #6d4833;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -560px;
  margin-left: 350px;
}

.btn {
  padding: 7px;
  border-radius: 6px;
  margin: 8px;
  color: #6d4833;
}
// .popup .popuptext::after {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }
